data_path=C:/Eigen Domein/Data/2IMD15 Data Engineering/2020/
hadoop_path=C:/winutils
output_path=C:/Eigen Domein/Data/2IMD15 Data Engineering/out/
master_node=local[*]
spark_driver=127.0.0.1
min_partitions=8
num_segments=10
server=false
data_match=Amsterdam
start_date=01/01/2020-12:00
end_date=02/10/2020-12:00
dimensions=2
exclusions=Forex,Indices,NYSE_DIA
n_top_bottom_stocks=10
n_stock_samples=10
sampling_seed=123456789